/*Font and size*/
$main-font: "Barlow", "arial", sans-serif;
$main-font-size: 1.6rem;
$main-line-hight: 1.62;
/*Hover color*/
$button-hover-color: #66d2cf;
$option-hover-color: #fdd6ba;
/* title-font-size */
/* h1 font-size and line-hight */
$h1-size: 7.2rem;
$h1-line-hight: 1;
/* h2 font-size and line-hight */
$h2-size: 4rem;
$h2-line-hight: 1.2;
/* h3 font-size and line-hight */
$h3-size: 3.2rem;
$h3-line-hight: 1.12;
/* h4 font-size and line-hight */
$h4-size: 2.4rem;
$h4-line-hight: 1.33;
/* Navigation bar font size */
$nav-font-size: 1.2rem;
$nav-line-hight: 1.25;
/* Site color*/
$main-color: #333d4b;
$primary-color: #0e8784;
$pale-orange: #fdd6ba;
$light-white: #fefcf7;
$light-black: #83888f;
/* Font family*/
$primary-font: "Fraunces 9pt";
